<div class="form-group">
    @if (label() !== "") {
    <label [for]="'txt-' + id()" class="form-label">
        {{label()}}
    </label>
    }

    <div class="input-group">
        <input [type]="type" class="form-input" [name]="id()" [id]="'txt-' + id()" [value]="value()"
            [class.error]="error()" [class.success]="!error()" [disabled]="isDisabled()" (input)="onChange($event)" />
        <button type="button" class="btn btn-warning btn-visility" (click)="onClickChangeSecretVisibility()">
            olho
        </button>
    </div>
</div>