# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/RPGManager.Desktop/.vs/ProjectEvaluation/rpgmanager.desktop.metadata.v10.bin
/RPGManager.Desktop/.vs/ProjectEvaluation/rpgmanager.desktop.projects.v10.bin
/RPGManager.Desktop/.vs/ProjectEvaluation/rpgmanager.desktop.strings.v10.bin
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/DesignTimeBuild/.dtbcache.v2
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/FileContentIndex/2d1d2ff7-5b13-4204-a5e6-aecd8f118f57.vsidx
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/FileContentIndex/5e383af9-6882-479a-af62-ac98f9365cba.vsidx
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/FileContentIndex/6a2ec947-5969-48c1-9457-cc0ef6085abe.vsidx
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/FileContentIndex/81391e74-5181-4345-97b3-b8a891d49934.vsidx
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/FileContentIndex/86bb3d78-f911-43f5-927c-3b599a9385a3.vsidx
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/FileContentIndex/9bde6d69-c7b6-4cda-9dde-3402e2bb487d.vsidx
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/FileContentIndex/c3db276c-af18-482c-a8f8-e94752dadb6d.vsidx
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/FileContentIndex/c7280be1-6566-4cd6-b934-68dec6c27c9f.vsidx
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/FileContentIndex/d4697486-bb2a-449f-b951-7bd6b7794bfc.vsidx
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/FileContentIndex/f46a9da3-783e-4e93-9864-f6fdb7184e8d.vsidx
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/v18/.futdcache.v2
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/v18/DocumentLayout.backup.json
/RPGManager.Desktop/.vs/RPGManager.Desktop.slnx/v18/DocumentLayout.json
