<form [formGroup]="authenticateUser" (submit)="onSubmit()" class="login-card">
    <label for="txt-email" class="input-group">
        <span>E-mail</span>
        <input type="text" id="txt-email" class="form-input" formControlName="email" />
    </label>

    <label for="txt-password" class="input-group">
        <span>Senha</span>
        <input type="password" id="txt-password" class="form-input" formControlName="password" />
    </label>

    <button type="submit" class="btn btn-primary">
        Entrar
    </button>
</form>