@use '_mixins' as *;
@use '_variables' as *;

.btn {
    align-items: center;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: inline-flex;
    font-size: 13px;
    font-weight: 600;
    gap: 6px;
    padding: 8px 12px;
    transition: opacity .15s, transform .1s;
    width: fit-content;

    &:hover {
        opacity: .88;
    }

    &:active {
        transform: scale(.97);
    }
}

@each $button in $buttons {
    .btn-#{$button} {
        @include button-variant(var(--color-#{$button}), var(--btn-#{$button}-fg));
    }

    .btn-outline-#{$button} {
        @include button-outline-variant(var(--color-#{$button}));
    }
}