@use '_mixins' as *;
@use '_variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    color: var(--text-primary);
    font-family: "Roboto", Helvetica, sans-serif !important;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    outline: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-canvas);
    min-height: 100vh;
    transition: background .25s, color .25s;
}

.page {
    padding: 0.5rem;
}

@each $alignment in $alignments {
    .align-#{$alignment} {
        align-items: $alignment;
    }
}

@each $style in $styles {
    .card-#{$style} {
        @include card($style);
    }
}

@each $style in $styles {
    .divider-#{$style} {
        @include divider($style);
    }
}