.character-sheet-container {
    width: 100%;
    --border-width: 1px;
    --border-style: solid;
    --border-color: #ccc;
    --border: var(--border-width) var(--border-style) var(--border-color);
    --diviser-border: 2px solid lightgray;
}

.character-sheet-header {
    border-bottom: var(--diviser-border);
    padding: 1rem 0;
}

.character-sheet-content {
    padding: 1rem 0;

    .character-class-card {
        border: var(--border);
        border-radius: 8px;

        .character-class-card-header,
        .character-card-body {
            padding: 0.75rem;
        }

        .character-class-card-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 0.75rem;
            min-height: 48px;

            &:hover {
                background-color: #e1e1e1;
                cursor: pointer;
            }

            .character-class-card-title {
                font-weight: 700;
            }

            .character-class-card-icon {
                border-radius: 4px;
                height: 32px;
                padding: 4px;
                width: 32px;

                &:hover {
                    background-color: #e1e1e1;
                    cursor: pointer;
                }

                img {
                    width: 100%;
                    content: url('../../../assets/angle-right.svg');
                }
            }
        }

        .character-card-body {
            display: none;
        }
    }

    .character-class-card-opened {
        .character-class-card-header {
            padding-bottom: 0.5rem;
            border-bottom: var(--diviser-border);

            .character-class-card-icon {
                img {
                    width: 100%;
                    content: url('../../../assets/angle-down.svg');
                }
            }
        }

        .character-card-body--show {
            display: block;

            p {
                margin: 0.5rem 0;
            }
        }
    }
}