<div class="page">
    <form class="character-sheet-container" [formGroup]="sheet">
        <div class="character-sheet-header">
            <rpg-text-input id="characters-name" label="Nome do personagem" />
        </div>

        <div class="character-sheet-content">
            <select id="cbo-game-system" style="width: 100%;" formControlName="gameSystemId">
                <option [value]="''" selected>-- Selecione um sistema --</option>
                @for(gameSystem of gameSystems; track gameSystem.id) {
                <option [value]="gameSystem.id">
                    {{gameSystem.name}}
                </option>
                }
            </select>

            @if (isGameSystemIdSet) {
            <select id="cbo-race" style="width: 100%;" formControlName="raceId">
                <option [value]="''" selected>-- Selecione uma raça --</option>
                @for(race of races; track race.id) {
                <option [value]="race.id">
                    {{race.name}}
                </option>
                }
            </select>
            }

            @if (isRaceIdSet) {
            <select id="cbo-class" style="width: 100%;" formControlName="raceId">
                <option [value]="''" selected>-- Selecione uma raça --</option>
                @for(race of races; track race.id) {
                <option [value]="race.id">
                    {{race.name}}
                </option>
                }
            </select>
            }
        </div>
    </form>
</div>