.input-group {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;

    .input-label {
        font-weight: 550;
    }

    input[type=text] {
        border: .5px solid #ccc;
        border-radius: 4px;
        padding: 0.5rem;
        transition: 0.5s ease;
        width: inherit;

        &:focus {
            outline: 1px solid rgba(0, 0, 0, 0.379);
        }
    }
}