<div class="main-layout">
    <header class="header">
        Header
    </header>


    <div class="main-content">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/character-builder">
                            Criar Personagem
                        </a>
                    </li>

                    <li>
                        <a routerLink="/game-system">
                            Gerenciar Sistema
                        </a>
                    </li>

                    <li>
                        <a routerLink="/character-builder">
                            Sair
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main>
            <router-outlet />
        </main>
    </div>

    <footer>
        Footer
    </footer>
</div>