:host {
    display: block;
}

.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;

    header,
    footer {
        padding: 0.75rem;
    }

    header {
        border-bottom: 1px solid var(--border-default);
    }

    .main-content {
        display: flex;
        flex: 1;
        overflow: hidden;

        .sidebar {
            background-color: var(--bg-surface);
            border-right: 1px solid var(--border-default);
            min-width: 300px;
            padding: 0.75rem;
        }

        main {
            overflow-y: auto;
            width: 100%;
        }
    }

    footer {
        border-top: 1px solid var(--border-default);
    }
}